/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2014, 12:07:29 PM
    Author     : mashit
*/

body{
background: antiquewhite;
}

#wrapper{
background: burlywood;
width: 800px;
margin: 0 auto;
}

#header{
    height: 75px;
    background: saddlebrown;
    border-style: solid;
    border-width: thin;
    border-color: #3D2B1F;
}

#contentLabel{
 margin-left: 2em;   
}

#content{
    margin-left: 1em;
    margin-right: 1em;
    margin-top:-1.25em;
    border-style: solid;
    border-color: saddlebrown;
    border-width: thin;
    
}

    
#footer{
    
}

#mainTitle{
    color: whitesmoke;
    text-align: center;
    
}

#menuTitle{
    color: whitesmoke;
    background: saddlebrown;
    border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 0px 0px 15px;
    width: 4em;
}

table, th, td{
    border-collapse: collapse;
    border:1px solid black;
}

th, td{
    padding:5px;
}